<!Doctype html>
<html>
<head>
	<title>Hero Cash | Iniciar Sesión</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#1C1C1C">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#1C1C1C">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#1C1C1C">
  <link rel="icon" type="image/jpeg" href="/public/images/vnep-favicon.jpg" />

	<!-- Styles -->
	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/public/bootstrap/css/signin.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/fonts.css">

	<!-- Scripts-->
	<script src="/public/bootstrap/js/jquery-1.11.3.min.js"></script>
	<script src="/public/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
      <form class="form-signin" action="/Login/log" method="post">
        <center><h1 class="gloriaHalleluja form-signin-heading" style="color:#FFFFFF">Hero Cash</h1></center>
        <center><img src="/public/images/vino-nuevo-logo-black.png" width="200" height="50"></center>
        <label for="username" class="sr-only">Usuario</label>
        <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
        <label for="passwd" class="sr-only">Contraseña</label>
        <input type="password" name="contrasenia" class="form-control" placeholder="Contraseña" required>
        
        <button class="btn btn-lg  btn-block" type="submit" style="background-color:#81d742; color:#FFFFFF; border-color:#81d742">Entrar</button>
      </form>

    </div> 
  </body>
</html>

