#{extends 'empty.html' /}
#{set title:'Detalle de Registro' /}
 <div class="col-md-12">
 <!--   Basic Table  -->
<div class="panel panel-default">
    <div class="panel-body">
		<div class="table-responsive"> 
			<table id="tablaUsuario" class="table" cellspacing="0" width="100%">
				<thead>
					<th>Datos:</th>
					<th></th>
				</thead>
				<tbody>
					<tr class="warning">
						<td>Fecha:</td>
						<td >${registro.fecha}</td>
					</tr>
					<tr>
						<td>Hora:</td>
						<td >${registro.hora}</td>
					</tr>
					<tr class="info">
						<td>Nombre del Heroe:</td>
						<td >${registro.hero.nombre} ${registro.hero.apellido}</td>
					</tr>
					<tr>
						<td>Campus:</td>
						<td>${registro.hero.campus.nombre}</td>
					</tr>
					<tr class="info">
						<td>Nombre del Administrador:</td>
						<td>${registro.admin.nombre} ${registro.admin.apellido}</td>
					</tr><tr>
						<td>Campus:</td>
						<td>${registro.admin.campus.nombre}</td>
					</tr>
					<tr>
						<td>Nivel:</td>
						<td>${registro.admin.nivel.nombre}</td>
					</tr>
					<tr class="success">
						<td>Nota:</td>
						<td >${registro.log}</td>
					</tr>
					<tr>
						<td>Puntos Asignados:</td>
						<td>${registro.cantidad}</td>
					</tr>
				</tbody>
			</table>
		<div>
	</div>	
</div>	
 <div class="col-sm-12">

        <a href="/Application/removeRegister?id=${registro.id}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar registro</a>
        <a href="/Application/registros" class="btn btn-success"> Volver a registros</a>
    </div>
    </div>
</div>